* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    padding: 15px 0;
    background-color: #1d2126;
    position: sticky;
    top: 0;
}

.conteiner {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row, .column {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-direction: column;
}

[class*='col-'] {
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-12{
    flex: 0 0 100%;
    max-width: 100%;
}

.button{
    width: 120px;
    height: 35px;
    background: none;
    text-transform: uppercase;
    color: #ffffff;
    font-style: "Quattrocento Sans", sans-serif;
    border: 2px white solid;
    border-radius: 5px;
    font-size: 15px;
}

.button:hover{
    border-color: #23b7a4;
    background-color: #23b7a4;
}

.logo {
    display: flex;
    justify-content: center;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
    margin: 5px 0;
    gap: 20px;
}

.menu li{
    border: 2px #1d2126 solid;
    padding: 0px 10px;
    box-sizing: border-box;
}

.menu li:hover {
    box-sizing: border-box;
    border-color: #a4aead;
    border-radius: 5px;
}

.menu a {
    margin: none;
    text-decoration: none;
    margin: 5px 0;
    display: block;
    text-align: center;
    color: #a4aead;
    font-size: 20px;
    text-transform: uppercase;
}

.hide-xs{
    display: none;
}

.search {
    display: flex;
    justify-content: center;
    border: 2px #a4aead solid;
    border-radius: 5px;
    align-items: center;
}

.search input {
    background-color: #1d2126;
    color: #a4aead;
    font-family: inherit;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
}

.search input::placeholder {
    color: inherit;
    font-family: 'Open Sans', sans-serif;
}

.search_btn {
    background-image: url("images/search_icon.png");
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1d2126;
}

.main-1{
    background-image: url("images/main-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 400px;
    height: 400px;
    display: flex;
    align-items: center;
}

.salutation-massege{
    color: #ffffff;
    font-style: "Quattrocento Sans", sans-serif;
    text-transform: uppercase;
    font-size: 25px;
}

.text{
    margin: 20px 0;
    color: #a4aead;
    font-size: 15px;
    line-height: 26px;
}

.bold{
    font-weight: 700;
}

.salutation-form{
    display: flex;
    gap: 10px;
}

.title{
    font-size: 25px;
    color: #292f36;
    border-left: 5px solid #e1e6ea;
    text-transform: uppercase;
    padding-left: 5px;
    font-family: "Quattrocento Sans", sans-serif;
    margin:20px 0;
}

.benefits-number{
    width: 40px;
    height: 40px;
    background-color: #23b7a4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.benefits-title{
    text-transform: uppercase;
    font-weight: 700;
    color: #292f36;
    font-size: 16px;
    font-style: "Quattrocento Sans", sans-serif;
}

.benefits-info .text{
    margin-top: 10px;
}

.main-2-icons button{
    margin-bottom: 20px;
    background-color: #c8cdd0;
}

.main-2-icons button:hover{
    background-color: #d0d5d9;
}

.footer{
    background-color: #3a454d;
}

.footer-text{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 10px;
}

.footer-icons{
    display: flex;
    justify-content: center;
}

.footer-icons button{
    background-color: #3a454d;
    width: 25px;
}

.footer-icons img{
    height: 30px;
}

@media(min-width:768px) {
    .conteiner {
        width: 720px;
    }

    .col-sm-1{
        flex: 0 0 16.6667%;
        max-width: 16.6667%;
    }

    .col-sm-2{
        flex: 0 0 33.3334%;
        max-width: 33.3334%;
    }

    .col-sm-3{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-4{
        flex: 0 0 66.6667%;
        max-width: 66.6667%;
    }

    .row{
        flex-direction: row;
        align-items: center;
    }

    .button{
        width: 75px;
        font-size: 10px;
        flex-grow: 1;
    }

    .text{
        font-size: 16px;
    }
    .menu{
        gap: 5px;
    }

    .menu a{
        font-size: 15px;
    }

    .hide-xs{
        display: flex;
    }

    .search{
        margin-left: 0;
    }

    .search input{
        margin-left: 5px;
        width: 75%;
        font-size: 15px;
    }

    .main-1{
        background-size: auto 500px;
        height: 500px;
    }

    .salutation-form{
        gap: 5px;
        justify-content: space-between;
    }

    .main-2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .main-2 .row{
        align-items: flex-start;
    }

    .main-2-text .text:first-child{
        margin-top: 0px;
    }
    
    .benefits{
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap
    }

    .benefits-number{
        flex: 0 0 20%;
        max-width: 20%;
        flex-basis: 40px;
        margin-right: 15px;
    }

    .benefits-info{
        flex: 0 0 85%;
        max-width: 85%;
        display: flex;
        flex-direction: column;
    }

    .benefits-title{
        font-size: 18px;
    }
    
    .footer-text{
        justify-content: flex-start;
    }

    .footer-icons{
        justify-content: flex-end;
        margin: 10px 0;
    }

}

 @media(min-width:1024px){
    .conteiner{
        width: 1004px;
    }

    .col-md-2{
        flex: 0 0 16.6667%;
        max-width: 16.6667%;
    }

    .col-md-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .col-md-4{
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }

    .col-md-5{
        flex: 0 0 41.6666%;
        max-width: 41.6666%;
    }
    
    .col-md-6{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7{
        flex: 0 0 58.343%;
        max-width: 58.343%;
    }
    
    .col-md-8{
        flex: 0 0 66.6667%;
        max-width: 66.6667%;
    }
    

    .salutation-form{
        gap: 10px;
    }
} 

@media(min-width:1200px) {
    .conteiner{
        width: 1170px;
    }

    .button{
        font-size: 14px;
        height: 45px;
    }

    .logo{
        justify-content: start;
    }

    .menu{
        justify-content: center;
        gap: 10px;
    }

    .menu a{
        font-size: 14px;
    }

    .search{
        margin: 0;
        height: 30px;
    }

    .search input{
        font-size: 14px;
    }

    .search_btn{
        height: 25px;
        margin-right: 10px;
    }

    .main-1{
        background-size: auto 660px;
        height: 660px;
    }

    .salutation-massege{
        font-size: 36px;
    }

    .salutation-text{
        font-size: 16px;
    }

    .salutation-form{
        gap: 15px;
    }

    .main-2{
        height: 610px;
    }

    .title{
        font-size: 36px;
    }

    .benefits-number{
        height: 50px;
        flex-basis: 50px;
    }

    .footer-text{
        font-size: 14px;
    }

    .footer-icons img{
        height: 40px;
    }

}